.location-box, .destination-box{
  display: block;
  margin-bottom: 6px;
  background-color: rgb(235, 233, 233);
  border: none;
  width: 300px;
  height: 30px;
  padding-left: 14px;
  
}

.request-now{
  margin-top: 25px;
  margin-right: 10px;
  color: white;
  border: none;
  background-color: rgb(0,0,0);
  height: 32px;
  width: 108px;
}

.schedule-for-later{
  margin-top: 25px;
  height: 36px;
  width: 140px;
  background-color: rgb(235, 233, 233);
  border: none;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}