.profile{
  width: 150px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,0.5);
  margin-right: 10px;
}
.profile-picture{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
P{
  font-family: arial;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.add-friend{
  margin-top: 8px;
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  background-color: rgb(11, 108, 172);
  color: white;
  font-size: 14px;
  
}
.profile-name{
  font-weight: bold;
  margin-left: 6px;
}
.mutual-friend-number{
  color: rgb(78, 76, 76);
  vertical-align: middle;
  width: 100px;
}
.small-picture{
  width:  35px;
  height: 35px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50px;
}
.mutual-friends-row {
  display: grid;
  grid-template-columns: 40px 100px;
  align-items: center;
  margin-left: 4px;
  margin-bottom: 10px;
  margin-top: 8px;
}
.grid-elements{
  display: grid;
  grid-template-columns: 170px 170px 170px;
}