p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.card {
  background-color: rgb(33, 33, 33);
  width: 360px;
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.title{
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  line-height: 1px;
  color:white;
  margin-bottom: 20px;
}

.subtitle {
  color: rgb(160, 160, 160);
}