.profile-picture{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 5px;
}
.text-box{
  vertical-align: middle;
  border: none;
  font-size: 18px;
  width: 300px;
}
button{
  vertical-align: middle;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.tweet-box{
  width: 470px;
  padding: 6px 10px;
  border-radius: 4px;
  border-style: solid;
  border: none;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}