.facebook-profile{
  width: 150px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,0.5);
  display: inline-block;
}
.profile-picture{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
P{
  font-family: arial;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
}
.add-friend{
  margin-top: 8px;
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  background-color: rgb(11, 108, 172);
  color: white;
  font-size: 14px;
  
}
.profile-name{
  font-weight: bold;
}
.mutual-friend-number{
  color: rgb(78, 76, 76);
}