input{
  font-size: 16px;
  width: 500px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-box{
  text-align: center;
}
img{
  width: 250px;
 }
.image-box{
  text-align: center;
 }
 .search, .feeling{
  display: inline-block;
  background-color: rgb(239, 239, 239);
  padding: 10px 10px;
  margin-right: 8px;
 }
 .text{
  text-align: center;
 }