.textbox{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: rgb(188, 186, 186);
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  font-size: 16px;
}